@media (min-width: 700px) {
  #navMenu {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  #menuButton {
    display: none;
  }

  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
