@media (min-width: 700px) {
  #navMenu {
    flex-direction: row;
    /* horizontal on wide screens */
    max-height: none;
    /* fully visible always */
  }

  #menuButton {
    display: none;
  }

  .temple-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}